import('FAB.css');

button {
    background-color: white;
    border: none;
    height: 32px;
    line-height: 32px;
    min-height: 32px;
    margin: 8px 16px 0 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

    outline: none;
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button:active {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) inset;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) inset;
}

.DangerButton {
    color: white;
    background-color: #f44336;
}

.DangerButton:hover {
    animation: flash 1s ease-in-out infinite;
}

@keyframes flash {
    50% {
        background-color: #FFEB3B;
    }
}

.FlexVerticalAlign button {
    margin-top: 0;
}