.Card {
    min-height: 64px;
    padding: 16px;
    margin: 8px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Card h3 {
    margin-top: 0;
}