.OutlinedButton {
    border: 1px solid lightgray;
    background-color: white;
    outline: none;
    height: 32px;
    line-height: 32px;
    min-width: 64px;

    color:  #2196F3;
    font-family: 'Roboto' sans-serif;
    font-weight: bold;

    -webkit-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
}

.OutlinedButton:focus:not(:hover) {
    border: 2px solid #2196F3;
}

.OutlinedButton:active {
    background-color: #2196F3;
    color: white;
}