@media only screen and (max-width: 800px) {
    div.NarrowOnly {
        display: flex;
    }

    div.RowCollapsible {
        flex-direction: column;
    }

    div.WideOnly {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    div.WideOnly {
        display: flex;
    }

    div.NarrowOnly {
        display: none;
    }
}

.RowCollapsible {
    display: flex;
    flex-direction: row;
}