.SolidButton {
    border: 1px solid lightgray;
    background-color: transparent;
    outline: none;
    height: 32px;
    line-height: 32px;
    min-width: 64px;

    background-color:  #2196F3;
    color: white;
    border: none;
    font-family: 'Roboto' sans-serif;
    font-weight: bold;

    -webkit-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;
    transition: background-color 100ms ease-in-out,
        box-shadow 100ms ease-in-out;

}

.SolidButton:focus:not(:hover) {
    border: 2px solid #0D47A1;
}

.SolidButton:active {
    color: #2196F3;
    background-color: white;
    border: none;
}