import('button.css');
import('Card.css');
import('Dropdown.css');
import('flex.css');
import('input.css');
import('Menu.css');
import('Responsive.css');
import('Select.css');
import('Switch.css');
import('Tooltip.css');
import('table.css');
import('ValidationError.css');

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html,body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    margin-left: 16px;
    margin-right: 16px;
    white-space: nowrap;
}

p {
    margin-left: 48px;
    max-width: 600px;
    line-height: 32px;
    text-indent: 32px;
}

footer {
    padding-top: 16px;
    padding-bottom: 4px;
    min-height: 48px;
}

.Container {
    margin: 16px 16px 0 16px;
    max-width: 512px;
}

.ListContainer {
    max-height: 512px;
}

.Clickable:hover {
    cursor: pointer;
}

.DangerButton {
    /* TODO */
}

.FlexVerticalAlign h3 {
    margin: 0;
}

.NoSelect {
    outline: none;
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ViewContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
}