.ValidationError {
    color: #f44336;
    margin-bottom: 4px;

    animation-name: validationErrorFlash;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-play-state: running;
}

@keyframes validationErrorFlash {
    from {
        color: #ffcdd2;
    }

    to {
        color: #f44336;
    }
}